#home-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100dvh;
  color: white;

  .settings-button, .update-button {
    position: absolute;
    top: 0;
    left: 0;
  }

  .mode-toggle {
    position: absolute;
    bottom: 0;
  }
}
