<div id="home-page">
  <button
    class="btn mt-3 ms-3 settings-button"
    [ngClass]="{ 'btn-outline-light': !isNewAppVersionAvailable, 'btn-outline-danger': isNewAppVersionAvailable }"
    ngbTooltip="Settings"
    [routerLink]="'/settings'"
  >
    <fa-icon [icon]="icons.faCog"></fa-icon>
  </button>
  <app-clock *ngIf="mode === 'clock'"/>
  <app-scrolling-message *ngIf="mode === 'message'"/>
  <div class="mode-toggle mb-3">
    <button *ngIf="mode === 'message'" class="btn btn-outline-light" (click)="onEnableClockModeClick()">
      <fa-icon [icon]="icons.faClock"></fa-icon>
      <span class="ms-2">Clock</span>
    </button>
    <button *ngIf="mode === 'clock'" class="btn btn-outline-light" (click)="onEnableMessageModeClick()">
      <fa-icon [icon]="icons.faBullhorn"></fa-icon>
      <span class="ms-2">Message</span>
    </button>
  </div>
</div>
