<div id="home-page">
  <app-settings-button/>

  <button class="btn btn-outline-light mode-toggle mb-3" [routerLink]="'/message'">
    <fa-icon [icon]="icons.faBullhorn"></fa-icon>
    <span class="ms-2">Message</span>
  </button>

  <ng-container *ngIf="clockSettings$ | async as clockSettings">
    <app-clock *ngIf="!clockSettings.offsetEnabled" [time]="time$ | async"/>
    <app-clock *ngIf="clockSettings.offsetEnabled" [time]="offsetTime$ | async"/>

    <ng-container *ngIf="clockSettings.offset as timeOffset">
      <div class="mb-3 me-3 bottom-right-button-group">
        <!-- Screen lock status -->
        <fa-icon *ngIf="isWakeLockEnabled()" ngbTooltip="Screen Lock Enabled" [icon]="icons.faLock"></fa-icon>
        <fa-icon *ngIf="!isWakeLockEnabled()" ngbTooltip="Screen Lock Failed" [icon]="icons.faLockOpen"></fa-icon>

        <!-- Minimise and Maximise Buttons -->
        <button
          *ngIf="!isFullScreen"
          class="btn btn-outline-light"
          ngbTooltip="Full Screen"
          (click)="onToggleMaximise()"
        >
          <fa-icon [icon]="icons.faMaximize"></fa-icon>
        </button>

        <button
          *ngIf="isFullScreen"
          class="btn btn-outline-light"
          ngbTooltip="Exit Full Screen"
          (click)="onToggleMaximise()"
        >
          <fa-icon [icon]="icons.faMinimize"></fa-icon>
        </button>

        <!-- Time Offset Buttons -->
        <button
          *ngIf="clockSettings.offsetEnabled"
          class="btn btn-outline-success toggle-time-offset-button"
          ngbTooltip="Disable Time Offset"
          (click)="onSetTimeOffset(false)"
        >
          <span class="me-2">{{timeOffset | timeOffsetToString}}</span>
          <fa-icon [icon]="icons.faFastForward"></fa-icon>
        </button>

        <button
          *ngIf="!clockSettings.offsetEnabled && (timeOffset.hour !== 0 || timeOffset.minute !== 0 || timeOffset.second !== 0)"
          class="btn btn-outline-light toggle-time-offset-button"
          ngbTooltip="Enable Time Offset"
          (click)="onSetTimeOffset(true)"
        >
          <fa-icon [icon]="icons.faFastForward"></fa-icon>
        </button>
      </div>
    </ng-container>
  </ng-container>
</div>
