<ng-container *ngIf="form">

  <form [formGroup]="form">
    <div class="mb-3">
      <label for="message-text" class="form-label">Message Text</label>
      <textarea class="form-control" [class.is-invalid]="messageText?.invalid" id="message-text" rows="3" [formControlName]="FORM_KEYS.messageText"></textarea>
      <div class="invalid-feedback">Please enter a message</div>
    </div>
    <button type="button" class="btn" [ngClass]="{'btn-primary': form.valid, 'btn-light': form.invalid}" (click)="onSaveSettings()" [disabled]="form.invalid">Save</button>
  </form>

</ng-container>
