#settings-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-4);

  .back-button {
    position: absolute;
    top: 0;
    left: 0;
  }
}
