body {
  // TODO: Make this play nice with BS dark mode
  background-color: black !important;
}

.jetbrains-mono-extra-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
